<% if itenerary.favorited_by?(current_user) %>
  <p>
    <%= link_to itenerary_favorites_path(itenerary), method: :delete, remote: true do %>
      ♥<%= itenerary.favorites.count %> favorite
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to itenerary_favorites_path(itenerary), method: :post, remote: true do %>
      ♡<%= itenerary.favorites.count %> favorite
    <% end %>
  </p>
<% end %>