<div class="container user-edit">
  <div class="row">
    <div class="col-md-3">
      <h1>edit</h1>
    </div>
  </div>
  <hr class='divider'>
  <%= form_with model:@user, local:true do |f| %>
    <div class="row">
      <div class="col-md-3">
        <p>name:  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>mail:  <%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"メール"%></p>
      </div>
      <div class="col-md-1">
        <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <i class="fa fa-save fa-2x"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>