<div class='top bg-info'>
  <div class="container top-main pb-5">
    <div class='top-bg-title mx-auto'>
      <div class='col-9 mx-auto px-3 py-4 text-center'>
        <h1 class='pt-5 top-title'>Tabinotomo</h1>
        <h4 class='pt-3 top-sub-title'>
          " Itenerary creation servise "<br>
          Share Trip
        </h4>
      </div>
    </div>
    <img class="header-logo d-block mx-auto mt-5 mb-5" src=<%= asset_path('top.png') %> width="540" height="360">
    <div class="text-center mt-5 top-btn">
      <%= link_to 'Create Itenerary', new_itenerary_path, class:"btn-lg btn btn-outline-dark" %>
    </div>
  </div>
</div>