<div class='top-bg-center'>
  <div class="container pb-5">
    <div class='top-bg-introduction mx-auto py-5'>
      <div class='col-9 mx-auto px-3 py-4'>
        <h4 class='pt-3'>
          たびのともについて<br>
          <br>
          「たびのとも」は旅行のしおりを作成、共有するwebサービスです。<br>
          会員登録なしで利用可能ですので気軽にご利用ください。<br>
          (なお、会員登録することで過去のしおりを閲覧することができます。)
        </h4>
      </div>
    </div>
　　<div class='d-flex'>
　　  <h2 style='color: #82654D; font-size: 40px;'>できること</h2>
　　</div>
　　  <h3>持ち物リスト、スケジュールの作成</h3>
　　  <h3>アルバムの作成</h3>
　　  <h3>全てのしおり一覧</h3>
    <div class='mt-3'>
      <p class="text-right"></p>
    </div>
    <div>
      <%= link_to 'しおりの作成', root_path, class:"btn btn-success" %>
    </div>
  </div>
</div>