<div class="nested-fields">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>写真</td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td>場所</td>
        <td></td>
      </tr>
      <tr>
        <td>コメント</td>
        <td><%= f.text_area :albums_comment %><br></td>
        <td><%= link_to_remove_association "削除", f %></td>
      </tr>
    </tbody>
  </table>
</div>