// Place all the styles related to the iteneraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.itenerary {
  font-family: 'Kaushan Script', cursive;
}

.form {
  border-bottom:1px solid #cccccc;
  border-right:none;
  border-left:none;
  border-top:none;
  border-radius:0px;
}

.schedule-card {
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.schedule-card:before, .schedule-card:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.schedule-card:before {left: 10px;}
.schedule-card:after {right: 10px;}
.schedule-card p {
    margin: 0;
    padding: 0;
}

.itenerary-title {
  font-size: 120px;
  position: relative;
}

.itenerary-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #17a2b8, #17a2b8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #17a2b8, #17a2b8 2px, #fff 2px, #fff 4px);
}

//スケジュール日付
.oneday {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #D6F0F4;/*背景色*/
  border-left: solid 5px #17a2b8;/*左線（実線 太さ 色）*/
}

body {
  padding-top: 70px;
}

.carousel {
  height: 500px;
}

.carousel-inner, .item {
  height: 100%;
}

.carousel .image {
  width: 100%;
  height: 100% !important;
  object-fit: fill;
}

//一覧サイドバー枠線
.sidebar{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #17a2b8;
    border-radius: 3px 0 3px 0;
}
.sidebar:before,.sidebar:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #17a2b8;
    border-radius: 50%;
}
.sidebar:after {
    top:-12px;
    left:-12px;
}
.sidebar:before {
    bottom:-12px;
    right:-12px;
}
.sidebar p {
    margin: 0;
    padding: 0;
}

.url {
  font-size: 10px;

  @media (min-width: 800px) {
    font-size: 20px;
  }
}