<footer class="bg-info text-white pt-4 pb-4" style="height: 180px;">
  <div class="container mt-3">
    <div class="row">
      <img class="footer_logo d-block mx-auto" src=<%= asset_path('logo.png') %> width="110" height="110">
    </div>
  </div>
</footer>